<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MFZW6WKK');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>{{ site.title or title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ keywords }}" name="keywords">
    <meta content="{{ description }}" name="description">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicons/apple-touch-icon.png' }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicons/favicon-32x32.png' }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicons/favicon-16x16.png' }}">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="canonical" href="{{ site.canonical }}">
    <meta property="og:locale" content="{{ site.locale }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ author.name }}, {{ author.title }}, {{ author.org }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:image" content="{{ author.image }}">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:image:type" content="image/jpeg">
    <meta content="All" name="audience">
    <meta content="index,follow" name="robots">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <script data-goatcounter="https://nehiljain.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://nehiljain.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='https://cdn.matomo.cloud/nehiljain.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>
  <body class="antialiased text-stone-50 bg-stone-900 dark:bg-stone-900 dark:text-stone-50 leading-normal font-text text-front transition-color duration-200 ease-in-out">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFZW6WKK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "partials/_header.njk" %}
    <div class="md:max-w-screen-sm lg:max-w-screen-xl mx-auto px-4 flex flex-wrap pt-4 my-8">
      {% include "partials/_aside.njk" %}
      <main class="lg:w-2/3 lg:pl-8 xl:pl-12">
        {% include "partials/_about.njk" %}
        {% include "partials/_intro.njk" %}
        {% include "partials/_skills.njk" %}
        {% include "partials/_work.njk" %}
        {% include "partials/_projects.njk" %}
        {% include "partials/_education.njk" %}
      </main>
    </div>
    {% include "partials/_footer.njk" %}
    {% include "partials/_schema_org.njk" %}
  </body>
</html>
